.light{
  background-image:linear-gradient(90deg,black 0 50%, white 50%);
}

.dark{
  background-image:linear-gradient(90deg,white 0 50%, black 50%)

}

.landing-bg{
  background-image:linear-gradient(to top, rgba(228, 228, 228, 0.544)  , transparent 30%, rgba(255, 65, 87, 0.497) 90%);
}

.background {
  // background-image: url(https://i.imgur.com/fj8qxbH.jpg);
  background-size: 100% 100%;
  animation: MoveBackground 65s linear infinite;
}
@keyframes MoveBackground {
  0%{background-position:0% 0%; background-size: 100% 100%; }
  25%{background-position:100% 0%; background-size: 130% 130%;}
  50%{background-position:100% 100%; background-size: 115% 115%;}
  75%{background-position:0% 100%; background-size: 130% 130%;}
  100%{background-position:0% 0%; background-size: 100% 100%;}
}

// .cover{
//   &::after{
//     content:"CASE STUDIES";
//     color:white;
//     display:flex;
//     align-items: center;
//     justify-content: center;
//     text-transform:uppercase;
//     position:absolute;
//     letter-spacing:1.5px;
//     font-size:16px;
//     transition: all;
//     transition-duration: 1s;
//     background:rgb(55, 55, 55);
//     height:100%;
//     width:100%;
//     top:0;
//     left:0;
//     opacity:00%;
//   }
//   &:hover{
//     &::after{
//       opacity:10%;
//       content:"";
//     }
//   }

// }




