.App{
	height:100vh;
	background-color: #284561;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;

}

h1, p {
	width:300px;
	color:white;
	text-align: left;
	font-family:monospace;
}